body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #071607;
    font-family: 'Inter', sans-serif;
}#main-banner{
    height: 650px;
    width: 90%;
    background-color: black;
    margin-left: 70px;
    margin-top: 30px;
    position: relative;
}#main-banner ul{
    display: flex;
    float: right;
    margin-right: 500px;  
}#main-banner ul button{ 
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
    color: #b8b3b3;
    font-size: 20px;
    background-color: rgba(41, 43, 46, 0.616);
    border-radius: 60%;
    border: none;
}
.fistrow{
    position: absolute;
}.box1{
    height: 250px;
    width: 380px;
    background-color: #393C41;
    float: left;
    margin: 15px;
    border-radius: 10px;

}.box1 img{
    height: 100px;
    margin-top: 70px;
    margin-left: 130px;
    border-radius: 50px;
}.box1 h6{
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
}.box1 button{
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
    color: #b8b3b3;
    font-size: 20px;
    background-color: rgba(41, 43, 46, 0.616);
    border-radius: 60%;
    border: none;
}.box1:hover{
    background-color: rgba(133, 140, 235, 0.466);
    transform: scale(1.03);
    transition: all .2s ease;
    cursor: pointer;
}
.box2{
    height: 250px;
    width: 380px;
    background-color: #393C41;
    float: left;
    margin: 15px;
    border-radius: 10px;
}.box2 img{
    height: 100px;
    margin-top: 70px;
    margin-left: 130px;
    border-radius: 50px;
}.box2 h6{
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
}.box2 button{
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
    color: #b8b3b3;
    font-size: 20px;
    background-color: rgba(41, 43, 46, 0.616);
    border-radius: 60%;
    border: none;
}.box2:hover{
    background-color: rgba(133, 140, 235, 0.466);
    transform: scale(1.03);
    transition: all .2s ease;
    cursor: pointer;
}
.box4{
    height: 250px;
    width: 380px;
    background-color: #393C41;
    float: left;
    margin: 15px;
    border-radius: 10px;
}.box4 img{
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 130px;
    border-radius: 50px;
}.box4 h6{
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
}.box4 button{
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
    color: #b1aaaa;
    font-size: 20px;
    background-color: rgba(41, 43, 46, 0.616);
    border-radius: 60%;
    border: none;
}.box4:hover{
    background-color: rgba(133, 140, 235, 0.466);
    transform: scale(1.03);
    transition: all .2s ease;
    cursor: pointer;
}.box5{
    height: 250px;
    width: 380px;
    background-color: #393C41;
    float: left;
    margin: 15px;
    border-radius: 10px;
}.box5 img{
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 130px;
    border-radius: 50px;
}.box5 h6{
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
}.box5 button{
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
    color: #78a9f1;
    font-size: 25px;
    background-color: rgba(41, 43, 46, 0.616);
    border-radius: 60%;
    border: none;
}.box5:hover{
    background-color: rgba(133, 140, 235, 0.466);
    transform: scale(1.03);
    transition: all .2s ease;
    cursor: pointer;
}.box3{
    height: 530px;
    width: 350px;
    background-color: #fff;
    float: right;
    margin: 15px;
    border-radius: 10px;
}.box3 h4{
    font-size: 23px;
    margin-left: 10px;
    margin-top: 10px;
}.box3 h4 i{
    float: right;
    margin-right: 30px;
}.box3 a {
    text-decoration: none;
}.box3 button{
    background-color:#bed5ee;
    border: none;
    height: 30px;
    width: 120px;
    color: #3168b0;
    margin-left: 15px;
    cursor: pointer;
}.box3 h6{
    margin-left: 15px;
    color: #4c4d50;
}.box3 .scrol{
    height:40px;
    width: 320px;
    background-color: #fff;
    border: 1px solid rgb(173, 170, 170);
    margin-left: 10px;
    color: #696b6e;
}.box3 .scrol i{
    margin-left: 200px;
}
.Search input{
    margin: 10px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #c9c1c1;
    padding-left: 40px;
}.Search i{
    margin-left: 10px;
    cursor: pointer;
}
   
